.average-sessions-duration {
  background-color: $red;
  width: 30%;
  height: 263px;
  border-radius: 5px;
  &__text {
    color: $white;
    opacity: 0.5;
    position: absolute;
    font-size: 15px;
    font-weight: $weight-bold;
    font-family: $main-font;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    margin-left: 2rem;
  }
}

.tooltip {
  &2-container {
    background-color: $white;
    color: $black;
    padding: 0.125rem 0.5rem;
  }
  &2-text {
    font-size: 10px;
    font-family: $main-font;
  }
}

@media (max-width: 1024px) {
  .average-sessions-duration {
    height: 218px;
    width: 25%;
    &__text {
      font-size: 12px;
      margin-top: 1rem;
      margin-left: 1.5rem;
    }
  }
}
