.average-sessions-duration {
  background-color: $red;
  // width: 245px;
  width: 30%;
  height: 263px;
  border-radius: 5px;
  &__text {
    color: $white;
    opacity: 0.5;
    position: absolute;
    font-size: 15px;
    font-weight: $weight-bold;
    font-family: $main-font;
    margin-top: 1.5rem;
    line-height: 1.5rem;
    margin-left: 2rem;
  }
}

.tooltip {
  &2-container {
    background-color: $white;
    color: $black;
    padding: 0.125rem 0.5rem;
  }
  &2-text {
    font-size: 10px;
    font-family: $main-font;
  }
}
