.daily-activity {
  background-color: $light-grey;
  padding: 1rem;
  // width: 800px;
  height: 305px;
  border-radius: 5px;
  &__text {
    color: $dark-grey;
    font-size: 15px;
    font-weight: $weight-bold;
    font-family: $main-font;
    margin-bottom: 1rem;
  }
}

.daily-activity {
  .recharts-legend-wrapper {
    top: -33px !important;
  }
  .recharts-legend-item {
    margin-right: 30px !important;
  }
  .recharts-legend-item-text {
    font-size: 14px;
    color: $legend !important;
    font-weight: $weight-bold;
  }
  .recharts-default-legend .recharts-legend-item svg {
    margin-right: 10px !important;
  }
  .recharts-text {
    font-size: 14px;
    font-weight: $weight-bold;
    fill: rgb(116, 121, 140);
  }
}

.tooltip {
  &-container {
    background-color: $red;
    color: $white;
    padding: 0.5rem;
  }
  &-text {
    font-size: 10px;
    font-family: $main-font;
  }
}

@media (max-width: 1024px) {
  .daily-activity {
    &__text {
      font-size: 12px;
    }
  }
  .recharts-legend-item-text {
    font-size: 12px !important;
  }
}
