.home {
  width: 100%;
  height: 100%;
  &-container {
    display: flex;
    height: calc(100% - 91px);
    width: 80%;
  }
}

.dashboard {
  padding: 4rem 4.5rem;
  width: 100%;
  &-left-container {
    width: 100%;
  }
  &-right-container {
    width: 100%;
  }
  &-container {
    display: grid;
    grid-template-columns: 70% 30%;
    margin-top: 4rem;
    gap: 2rem;
  }
  &-title {
    font-size: $size-title;
    font-weight: $weight-bold;
    color: $black;
    margin-top: 0;
  }
  &__text {
    font-size: $size-subtitle;
    font-weight: $weight-bold;
    color: $black;
  }
  &-bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}

.name {
  color: $red;
}

@media (max-width: 1440px) {
  .home-container {
    width: 100%;
    height: calc(100% - 91px);
  }
}

@media (max-width: 1024px) {
  .dashboard {
    padding: 2rem;
    &-title {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: 0.9rem;
    }
    &-container {
      margin-top: 1rem;
      gap: 1rem;
    }
    &-bottom-container {
      margin-top: 1rem;
    }
  }
}
