.home {
  width: 100vw;
  &-container {
    display: flex;
    height: calc(100vh - 91px);
  }
}

.dashboard {
  padding: 4rem 4.5rem;
  &-title {
    font-size: $size-title;
    font-weight: $weight-bold;
    color: $black;
    margin-top: 0;
  }
  &__text {
    font-size: $size-subtitle;
    color: $black;
  }
  &-container {
    margin-top: 4rem;
  }
  &-bottom-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}

.name {
  color: $red;
}
