.home {
  width: 100vw;
  &-container {
    display: flex;
    height: calc(100vh - 91px);
  }
}

.dashboard {
  padding: 5rem 7rem;
  &-title {
    font-size: $size-title;
    font-weight: $weight-bold;
    color: $black;
    margin-top: 0;
  }
  &__text {
    font-size: $size-subtitle;
    color: $black;
  }
  &-container {
    margin-top: 5.625rem;
  }
}

.name {
  color: $red;
}
