.radar-performance {
  background-color: $dark-grey;
  width: 30%;
  height: 263px;
  border-radius: 5px;
  .recharts-text {
    transform: scaleY(1.08) translateY(-6px);
    font-size: 10px;
    font-weight: $weight-bold;
    fill: $white;
  }
}

@media (max-width: 1024px) {
  .radar-performance {
    height: 218px;
    width: 40%;
  }
}
